 <table class="table-wrap">
  <thead>
    <tr>
      <th colspan="2">Connect with us</th>
    </tr>
    <tr>
      <td colspan="2">Call us: 999-999-9999</td>
    </tr>
    <tr>
      <td colspan="2">
        Email Us: avomdetailing@gmail.com
        <a href="mailto:avomdetailing@gmail.com" class="social-link">
          <img class="mail-logo" src="/images/gmail.png" alt="Gmail">
        </a>
      </td>
    </tr>
        <tr>
      <td colspan="2">
        Social Media: 
        <a href="https://instagram.com/avomobiledetailing?igshid=MzRIODBiNWFIZA==" class="social-link">
          <img class="insta-logo" src="/images/instagram.png" alt="Instagram">
        </a>
      </td>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td colspan="2" class="form-holder">
        <script type="text/javascript" src="https://form.jotform.com/jsform/231995748582070"></script>
  </tbody>
</table>