<h2>Pricing</h2>
<div class="row justify-content-center">

      <div class="pricing-column col-sm-12 col-md-4 mb-4">
        <div class="card">
          <div class="card-header1 card-header">
            <h2>Pro Detail</h2>
          </div>
          <div class="card-body">
            <h2 class="price-text">Includes:</h2>
            <h3 class="price-text">Foam Bath</h3>
            <h3 class="price-text">Wheels/Tires</h3>
            <h3 class="price-text">Windows</h3>
            <h3 class="price-text">Tires Dressed</h3>
            <p>
            * Coupes ($100), 
            Sedans ($120), 
            Small SUV ($140), 
            Mid-Size SUV/Truck ($160), 
            Full-Size SUV/Truck ($200)
            </p>
          </div>
        </div>
      </div>

      <div class="pricing-column col-sm-12 col-md-4 mb-4">
        <div class="card">
          <div class="card-header2 card-header">
            <h2>All Pro Detail</h2>
          </div>
          <div class="card-body">
            <h2 class="price-text">Includes:</h2>
            <h3 class="price-text">Premium Foam Bath</h3>
            <h3 class="price-text">Wheels/Tires Deep Cleaned</h3>
            <h3 class="price-text">Windows</h3>
            <h3 class="price-text">Tires Dressed</h3>
            <h3 class="price-text">Hand Wash</h3>
            <h3 class="price-text">Wheel Wells Cleaned</h3>
            <h3 class="price-text">Door Jambs Cleaned</h3>
            <h3 class="price-text">Carnauba Wax</h3>
            <h3 class="price-text">Full Interior Wipe Down</h3>
            <h3 class="price-text">Leather Seats Conditioned</h3>
            <h3 class="price-text">Vacuum Interior</h3>
            <p>
            * Coupes ($180), 
            Sedans ($200), 
            Small SUV ($240), 
            Mid-Size SUV/Truck ($280), 
            Full-Size SUV/Truck ($320)
            </p>
          </div>
        </div>
      </div>

    </div>

    <p>*These are initial quotes and the final quote may increase after additional information/pictures are provided.</p>