<h2 class="services" >Our Services</h2>

<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
          <div class="ms-2 me-auto">
            <div class="fw-bold">Exterior Wash</div>
            Thorough cleaning of the vehicle's exterior, including the body, wheels, tires, and windows.
          </div>
          <span class="badge bg-warning rounded-pill">P</span>
          <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Wheel and Tire Cleaning</div>
            Thorough cleaning and tire dressing to give wheels and tires a clean and shiny look.
            </div>
            <span class="badge bg-warning rounded-pill">P</span>
            <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Glass and Window Cleaning</div>
            Cleaning of windows and mirrors to ensure crystal-clear visibility.
            </div>
            <span class="badge bg-warning rounded-pill">P</span>
            <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
      </ol>
    </div>
    <div class="col-lg-4">
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
                <div class="fw-bold">Interior Vacuuming</div>
                Vacuuming and removal of dirt, debris, and dust from the interior surfaces, including seats, 
                carpets, floor mats, and trunk.
            </div>
            <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Carpet and Floor Mat Cleaning</div>
            Shampooing and stain removal from carpets and floor mats.
            </div>
            <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Waxing and Polishing</div>
            Application of wax or paint sealant to protect the vehicle's paint and enhance its shine.
            </div>
            <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Leather Treatment</div>
            Conditioning and protection of leather surfaces to maintain their appearance 
            and prevent cracking.
            </div>
            <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
      </ol>
    </div>
    <div class="col-lg-4">
      <ol class="list-group">
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Interior Detailing</div>
            Cleaning and conditioning of various interior surfaces, such as dashboard, console, door panels, 
            and upholstery.
            </div>
            <span class="badge bg-secondary rounded-pill">AP</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Paint Correction</div>
            Removal of scratches, swirl marks, and oxidation from the vehicle's paint surface through processes 
            like compounding and polishing. *Available on request
            </div>
            <span class="badge bg-light rounded-pill">OR</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-start mb-1">
            <div class="ms-2 me-auto">
            <div class="fw-bold">Ceramic Coating</div>
            Applying a liquid polymer to protect and enhance appearances by repelling water and other environmental contaminants. *Available on Request
            </div>
            <span class="badge bg-light rounded-pill">OR</span>
        </li>
      </ol>
    </div>
  </div>
</div>


