<div class="testimonial-section">
  <div class="testimonial-background"></div>
  <div class="testimonial-content">
    <h2>Testimonials</h2>

    <div id="testimonial-carousel" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active container-fluid">
          <h2 class="testimonial-text">"I've used AVO Mobile Detailing several times now, and they 
            always exceed my expectations. Isaac is professional, friendly, and always does an 
            excellent job."</h2>
          <em>Central Austin</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"AVO Mobile Detailing did an amazing job detailing my car. 
            They were fast, efficient, and left my car looking brand new. Highly recommend!"</h2>
          <em>Cedar Park</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"If you're looking for a convenient and reliable car detailing
            service in Austin, look no further. They come to you and do an 
            amazing job every time."</h2>
          <em>North Austin</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"AVO Mobile Detailing is hands down the best car detailing service 
            in Austin. They use high-quality products and equipment, and their team is highly skilled and 
            knowledgeable."</h2>
          <em>Pflugerville</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"I was blown away by the results of AVO Mobile Detailing's services. 
            They were able to remove stains and scratches from my car that I thought were impossible to get 
            rid of. I highly recommend their services!"</h2>
          <em>Round Rock</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"I was in a rush to get my car detailed before a road trip, and AVO 
            Mobile Detailing was able to accommodate me on short notice. They did an amazing job in record 
            time. Thank you!</h2>
          <em>Central Austin</em>
        </div>
        <div class="carousel-item container-fluid">
          <h2 class="testimonial-text">"I was hesitant to try a new car detailing service, but AVO Mobile 
            Detailing exceeded my expectations. Isaac's attention to detail is unmatched, and he is friendly 
            and professional. Highly recommend!"</h2>
          <em>North Austin</em>
        </div>
      </div>
      <a class="carousel-control-prev" href="#testimonial-carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#testimonial-carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
</div>

