body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* Heading Styles */
.Company-Slogan {
  font-size: 22px;
} 

.navbar-brand {
  font-size: 22px;
}

h2{
  font-size: 24px;
  font-weight: bold;
}

p{
  font-size: 18px;
}

/*Navbar Section */
.navbar {
  background-color: silver;
  font-weight: bold;
}


/* Company Mission Statement Section */
#Mission {
  background-color: #146C94;
  padding: 30px;
  text-align: center;
}

.Company-Slogan {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

.Company-Logo {
max-width: 90%;
max-height: 80%;
}


/* List of Services Section */
#Services {
  background-color: #146C94;
  padding: 30px;
  text-align: center;
}

/* Price Session */
#Prices {
  background-color: #146C94;
  padding: 30px;
  text-align: center;
}

.card-header1 {
  background-color: silver;
}

.card-header2 {
  background-color: goldenrod;
}

.card-header3 {
  background-color: #E5E4E2;
}


/* Testimonial Section */
#Testimonials {
  background-color: #19A7CE;
  padding: 30px;
  text-align: center;
}

/* Testimonial Styles */
blockquote {
  background-color: #19A7CE;
  font-style: italic;
}

blockquote p {
  margin-bottom: 10px;
}

blockquote cite {
  font-weight: bold;
}

/* Contact Us Section */
#Contact-Us {
  background-color: #146C94;
  padding: 30px;
  text-align: center;
}

/* Footer */
.footer-basic {
  background-color: silver;
}


/* mobile phone optimization */

@media (max-width: 576px) {
  /* Adjust the breakpoint as needed */

  /* Reduce img size for mobile devices */
  .Company-Logo {
      max-width: 50%;
      max-height: 40%;
    }
  
  /* Reduce font size for mobile devices */
  .Company-Slogan {
    font-size: 17px;
  } 

  .navbar-brand {
    font-size: 17px;
  }

  h2{
    font-size: 18px;
    font-weight: bold;
  }

  p{
    font-size: 14px;
  }

  /* Reduce padding for mobile devices */
  #Mission,
  #Services,
  #Prices,
  #Testimonials,
  #About-Us,
  #contact-Us {
    padding: 20px;
  }
}