body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  color: #000000;
}

/* Heading Styles */
.Company-Slogan {
  font-size: 22px;
} 

.navbar-brand {
  font-size: 22px;
}

h2{
  font-size: 24px;
  font-weight: bold;
}

h3{
  font-size: 22px;
}

p{
  font-size: 18px;
}

/*Navbar Section */
.navbar {
  background-color: silver;
  font-weight: bold;
}


/* Company Mission Statement Section */

#Mission {
  background-color: #146C94;
  padding: 30px;
  text-align: center;
}

.behold-gw-posts {
  margin-bottom: 20px;  
}


.Company-Slogan {
  font-style: italic;
  font-weight: bold;
  font-size: 24px;
}

/* Owl Carousel Styling */
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}

.Company-Logo {
max-width: 90%;
max-height: 80%;
}


/* List of Services Section */
#Services {
  background-image: url(/images/CleaningIMG.jpg);
  background-color: #146C94;
  padding: 30px;
  text-align: center;
}

/* Price Session */
#Prices {
  background-color:#146C94;
  padding: 30px;
  text-align: center;
  justify-content: center;
}

.card-header1 {
  background-color: goldenrod;
}

.card-header2 {
  background-color: #E5E4E2;
}


/* Testimonial Section */
.testimonial-section {
  position: relative;
}

.testimonial-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/AVO Mobile Detailing Logo Black.png");
  background-position: center;
  background-repeat: repeat-x;
  background-size: contain;
  opacity: 0.5;
  /* Set the opacity to 0.8 to make the background image semi-transparent */
  z-index: -1;
}

.testimonial-content {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
  font-weight: bolder;
  text-align: center;
  color: white;
}

.testimonial-content h2 {
  margin-top: 0;
}


/* Contact Us Section */
#Contact-Us {
  background-image: url(/images/CleaningIMG-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px;
  text-align: center;
}

.table-wrap {
  width: 490px;
} 

thead {
  border-style: solid;
  border-color: black;
  background-color: silver;
}

tbody {
border-color: black;
border-style: solid;
background-color: black;
text-align: center;
}

@media (min-width: 1100px) {
  /* Layout for larger screens */
  thead {
    position: relative;
    left: 550px;
    top: 250px;
    border-style: double;
    border-color: black;
    background-color: silver;
  }



}

.insta-logo, 
.mail-logo {
  width: 40px;
  height: 40px;
}

/* Footer */
.footer-basic {
  background-color: silver;
}


/* mobile phone optimization */

@media (max-width: 576px) {
  /* Adjust the breakpoint as needed */

  /*adjust the form container width */
  .table-wrap {
    width: 100%;
  }


  /* Reduce img size for mobile devices */
  .Company-Logo {
      max-width: 50%;
      max-height: 40%;
    }
  
  /* Reduce font size for mobile devices */
  .Company-Slogan {
    font-size: 17px;
  } 

  .navbar-brand {
    font-size: 17px;
  }

  h2{
    font-size: 18px;
    font-weight: bold;
  }

  p{
    font-size: 14px;
  }

  /* Reduce padding for mobile devices */
  #Mission,
  #Services,
  #Prices,
  #Testimonials,
  #About-Us,
  #contact-Us {
    padding: 20px;
  }
}


